<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>MacRemote объявляет себя в локальной сети для подключения с мобильного устройства.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_macremote._tcp.</string>
	</array>
	<key>NSAppleEventsUsageDescription</key>
	<string>MacRemote отправляет команды другим приложениям (Spotify, System Events) для управления медиа и звуком.</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
</dict>
</plist>
